@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

.top-banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.img-right {
    text-align: right;
    height: 500px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
    font-style: italic;
    letter-spacing: 3px;
}

.btn {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(#FF9974, #FF6B4E);
    padding: 10px 40px;
}

.dream-big {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-big-title {
    color: orange;
    letter-spacing: 3px;
}

.experiences-area {
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experiences-item {
    width: 50%;
    margin: 20px 30px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 15px 10px 25px gray;
}

#exp-item1 {
    border-left: 7px solid;
    border-image: linear-gradient(#FF9E78, #FF6548);
    border-image-slice: 1;
}

#exp-item2 {
    border-left: 7px solid;
    border-image: linear-gradient(#0005FF, #00F5FF);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}